html, body {
  height: 100%;
}

#root {
  height: 100%;
}
.box {
  background-color: #EEEE;
  height: 100%;
}

.reset {
  height: 40px;
  width: 40px;
  margin: 10px;
  cursor: pointer;
  float: right;
}

.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chess-board td {
  width: 5em;
  height: 5em;
  text-align: center;
  vertical-align: middle;
  background-color: #282C34;
  border: 1px solid #EEE;
}

.chess-board .done {
  background-color: #2F4F4F;
}

.chess-board .boom {
  background-color: #8B0000;
}
