.box {
  background-color: #eeeeee;
  height: 100vh;
}

.chess-board {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chess-board td {
  width: 5em;
  height: 5em;
  text-align: center;
  vertical-align: middle;
  background-color: #282c34;
  border: 1px solid white;
}